body {
    background-color: #8ad2df2f;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

h1 {
    text-align: center;
}

canvas {
    width: 90vw !important;
    max-height: 75vh !important;
    margin: 10px auto 10px auto;
}

#labels {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

#labels span {
    padding: 10px;
}

#labels span:hover {
    cursor: pointer;
    opacity: 0.5;
}

#canvas div {
    display: none;
}